#root {
  background-color: cornsilk;
}

.logo {
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.05);
}

.box-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: linear-gradient(
    to right,
    rgba(4, 29, 21, 0.85),
    rgba(7, 50, 36, 0.45),
    transparent
  );
  z-index: 1;
  pointer-events: none;
}

.box-title {
  position: relative;
  z-index: 2;
  padding: 10px;
}

.box-text {
  position: relative;
  top: 2em;
  z-index: 2;
  padding: 10px;
  max-width: 800px;
}

.footer {
  background-color: rgb(44, 71, 60);
  color: white;
}

.footer-link:hover {
  color: rgb(164, 231, 206);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: color 0.2s ease, text-shadow 0.2s;
}
